<div id="animation-container">
	<h1>DRT Ninja!</h1>	
</div>

<%= content_tag "div", "", id: 'map-canvas' %>

<div id="nearby-stops"></div>

<div id="bus-routes">	
	<h3>See Schedules</h3>
	<h4>Route:</h4>
	<select class="bus-route">
		<option value=0>SELECT BUS ROUTE</option>
		<% @route_names.each do |k,v| %>
			<% name = "<option value=" + k + ">" + v + "</option>" %>
			<%= raw name %>
		<% end %>
	</select>
</div>

<form class="days">
	<input type="radio" name="day" value="weekday" checked>Weekday
	<input type="radio" name="day" value="saturday">Saturday
	<input type="radio" name="day" value="sunday">Sunday
</form>

<div id="bus-stops"></div>

<div id="stop-times"></div>

<script id="bus-stops-template" type="text/x-handlebars-template">
	<h4>Stop:</h4>
	<select class="bus-stop">
		<option value=0>SELECT STOP</option>
		{{#each stopNames}}
			<option value={{order}}>{{shortName}}</option>
		{{/each}}
	</select>
</script>

<script id="stop-times-template" type="text/x-handlebars-template">
	<h4>Stop Times</h4>
	<ul class="stop-times">
		{{#each stopTime}}
			<li>
				{{this}}
			</li>
		{{/each}}
	</ul>
</script>

<script id="nearby-stops-template" type="text/x-handlebars-template">
<h2>Near You</h2>
<ul id="nearby-busses">
	{{#each nearby}}
		<div class="nearby-bus">
			<l1><h5><b>{{this.route}}</b></h5>
				<ul class="stop-name">
					<l1>{{this.stop.name}} - <b>{{this.time}}</b></l1>
				</ul>
			</l1>
		</div>
	{{/each}}
</ul>
</script>
