<h1>DRT Ninja!</h1>

<select class="bus-route">
	<option value=0>SELECT BUS ROUTE</option>
	<% @route_names.each do |k,v| %>
		<% name = "<option value=" + k + ">" + v + "</option>" %>
		<%= raw name %>
	<% end %>
</select>

<form class="days">
	<input type="radio" name="day" value="weekday" checked>Weekday
	<br>
	<input type="radio" name="day" value="saturday">Saturday
	<br>
	<input type="radio" name="day" value="sunday">Sunday
</form>

<%= content_tag "div", "", id: 'map-canvas' %>

<div id="bus-stops"></div>

<div id="stop-times"></div>

<script id="bus-stops-template" type="text/x-handlebars-template">
	<h2>Select Stop</h2>
	<select class="bus-stop">
		<option value=0>SELECT STOP</option>
		{{#each stopNames}}
			<option value={{order}}>{{shortName}}</option>
		{{/each}}
	</select>
</script>

<script id="stop-times-template" type="text/x-handlebars-template">
	<h3>Stop Times</h3>
	<ul class="stop-times">
		{{#each stopTime}}
			<li>
				{{this}}
			</li>
		{{/each}}
	</ul>
</script>
